.title {
  color: #9ece6a;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #b4f9f8;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
