.title {
  color: #9ece6a;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #b4f9f8;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #1d1f21;
  border-radius: 4px;
  color: white;
  text-align: center;
}
img.delivery1 {
  display: flex;
  margin-left: 0%;
  border-radius: 12px;
}
img.delivery2 {
  display: flex;
  border-radius: 12px;
  margin-left: 60%;
  margin-bottom: 40px;
}
img.delivery3 {
  width: 60%;
  display: flex;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 40px;
}
