.single {
  padding: 10px 16px;
  background: #565f89;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
  transition: all 0.3s linear;
}

.single:hover {
  border-left: 8px solid #4979ff;
  cursor: pointer;
}
